<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>always and when</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>when in use</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>always</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<string>default accuracy reduced</string>
</dict>
</plist>
